button {
  border: none;
  background-color: lavender;
  font-size: 24px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #726CF8;
  color: lavender
}

.equals {
  grid-column: 3 / 5;
  background-color: whitesmoke;
}

.equals:hover {
  background-color: #281C2D;
}
